@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  body {
    @apply tracking-wide;
  }
  .mainButton {
    @apply text-sm text-white bg-primary  py-3 rounded-md border border-primary;
  }
  .secondaryButton {
    @apply text-sm text-primary bg-white  py-3 rounded-md border border-primary;
  }
  .inputField {
    @apply my-1 border-[1.5px] rounded-md py-2 px-5;
  }
  .dashboardCharts {
    @apply flex;
  }
  .chart .title {
    @apply text-[20px] font-semibold whitespace-nowrap;
  }
  .borderedD7 {
    @apply border-[1px] border-solid border-[#DFDFDF] rounded-md;
  }
}
@layer utilities {
  .baseLayout {
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      'navbar navbar'
      'sidebar main';
    @apply grid baseFz h-screen overflow-hidden;
  }
  .navbar {
    grid-area: navbar;
    box-shadow: 2px 0 2px 2px #00000025;
    @apply bg-offWhite h-[4.6875rem] z-10 flex justify-between pr-12;
  }
  .main-content {
    grid-area: main;
    overflow-y: auto;
    @apply px-12 py-8 bg-white;
  }
  .tabTitle {
    @apply mb-3;
  }
  nav {
    @apply flex-grow;
  }
  nav ul {
    @apply flex flex-col gap-4;
  }
  nav ul li,
  .logoutBtn {
    @apply flex items-center gap-2 p-2 rounded-lg;
  }
  nav ul li:hover,
  .logoutBtn:hover {
    @apply font-medium;
    transition: ease-in all 0.3s;
  }
  .dashboardCharts {
    @apply flex;
  }
  .chart {
    @apply p-5 borderedD7;
  }
  .chart .title {
    @apply text-xl font-semibold whitespace-nowrap;
  }
}
@layer utilities {
  .borderedD7 {
    @apply border-[1px] border-solid border-[#DFDFDF] rounded-md;
  }
  .baseFz {
    font-size: 16px;
  }
  .bg-offWhite {
    background-color: #f7f8fc;
  }
  .logoutBtn:active {
    background-color: #9b0d32;
    color: #fff;
    font-weight: 500;
  }
  nav ul li svg,
  .logoutBtn svg {
    @apply size-6;
  }
  nav ul a.active li {
    background-color: #9b0d32;
    color: #fff;
    font-weight: 500;
  }
  .tabTitle {
    color: #9b0d32;
    text-transform: uppercase;
    font-weight: 600;
    @apply text-3xl;
  }
  .navbar .left {
    height: 100%;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navbar .left #logo {
    width: 250px;
    height: auto;
    margin-left: 1rem;
  }
  .navbar .right,
  .navbar .right .user,
  .navbar .right .user .userImg {
    height: 100%;
  }
  .navbar .right .user,
  .navbar .right .user .userImg {
    display: flex;
    align-items: center;
    gap: 0.75rem;
  }
  .user img {
    height: 3.25rem;
    width: 3.25rem;
    object-fit: cover;
    border-radius: 50%;
  }
  .userDetails .name {
    font-weight: 600;
    line-height: 1;
  }
  .userDetails .role {
    line-height: 1.25;
    text-transform: uppercase;
  }
  .sidebar {
    display: flex;
    flex-direction: column;
    /* transition: ease 0.5s width; */

    grid-area: sidebar;
    background-color: #f7f8fc;
    width: 250px;
    padding: 20px;
  }
  .sidebar .hamburger {
    align-self: end;
    width: 20px;
    height: 20px;
    margin-bottom: 1rem;
  }
  .sidebar.collapsed .hamburger {
    align-self: center;
  }
  /* collapsed sidebar */
  .sidebar.collapsed {
    width: 5rem;
    transition: ease 0.5s;
  }
  nav li span,
  .logoutBtn span {
    /* transition: ease 0.5s; */
    @apply whitespace-nowrap;
    animation: animate__slideInLeft; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
  }
  .sidebar.collapsed nav li span,
  .sidebar.collapsed .logoutBtn span {
    margin-bottom: 1rem;
    display: none;
    /* transition: ease 0.5s; */

    animation: animate__slideInLeft; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
  }
  .sidebar.collapsed nav ul li,
  .sidebar.collapsed .logoutBtn {
    width: fit-content;
  }
}

@media screen and (max-width: 650px) {
  .text-xl {
    @apply text-lg;
  }
  .text-sm {
    @apply text-xs;
  }
  .text-3xl {
    @apply text-2xl mb-3;
  }
  .text-base {
    @apply text-sm;
  }
  .baseFz {
    font-size: 13px;
  }
  .main-content {
    @apply px-5 py-4;
  }
  .gap-4 {
    @apply gap-3;
  }
  .size-6 {
    @apply size-5;
  }
}
