@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .baseLayout {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      'navbar navbar'
      'sidebar main';
    height: 100vh;
  }
  .navbar {
    grid-area: navbar;
    background-color: #f7f8fc;
    height: 4.6875rem;
    z-index: 1;
    box-shadow: 2px 0 2px 2px #00000025;

    display: flex;
    justify-content: space-between;
    padding-right: 50px;
  }

  .sidebar {
    grid-area: sidebar;
    background-color: #f7f8fc;
    width: 250px;
    padding: 20px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
  }

  .main-content {
    grid-area: main;
    background-color: #ffffff;
    padding: 40px 55px;
  }
  nav {
    flex-grow: 1;
  }
  nav ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  nav ul li,
  .logoutBtn {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 0.5rem;
  }
  nav ul li:hover,
  .logoutBtn:hover {
    font-weight: 500;
    transition: ease-in all 0.3s;
  }
  .logoutBtn:active {
    background-color: #9b0d32;
    color: #fff;
    font-weight: 500;
  }
  nav ul li svg,
  .logoutBtn svg {
    width: 25px;
    height: 25px;
  }
  nav ul a.active li {
    background-color: #9b0d32;
    color: #fff;
    font-weight: 500;
  }
  .tabTitle {
    color: #9b0d32;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 600;
  }
  .navbar .left {
    height: 100%;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navbar .left #logo {
    width: 250px;
    height: auto;
    margin-left: 1rem;
  }
  .navbar .right,
  .navbar .right .user,
  .navbar .right .user .userImg {
    height: 100%;
  }
  .navbar .right .user,
  .navbar .right .user .userImg {
    display: flex;
    align-items: center;
    gap: 0.75rem;
  }
  .user img {
    height: 3.25rem;
    width: 3.25rem;
    object-fit: cover;
    border-radius: 50%;
  }
  .userDetails .name {
    font-weight: 600;
    line-height: 1;
  }
  .userDetails .role {
    line-height: 1.25;
    text-transform: uppercase;
  }
}
